<h1><%= event.title %></h1>

<% if can? :edit, event %>
  <%= link_to 'Edit', edit_event_path(event) %> |
  <%= link_to 'Back', events_path %>
<% end %>

<% if event.description.present? %>
<p>
  <%= event.description %>
</p>
<% end %>

<div class="row">
  <div class="col-sm-9">
    <% if event.has_attendee?(current_user) %>
      <% if event.has_chef?(current_user) %>
        <%#= render partial: 'entries/show', locals: { event: event } %>
        CHEF
      <% else %>
        EATER
      <% end %>
      You're in!
      <%= current_user.id %>
    <% else %>
      <div>
        <h2>Are you here with an entry?</h2>
        <div class="row">
          <div class="col-sm-6">
            <%= render partial: 'attendances/form', locals: { event: event, gtype: 'chef' } %>
          </div>
          <div class="col-sm-6">
            <%= render partial: 'attendances/form', locals: { event: event, gtype: 'eater' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3">
    <p>
      <strong>Event date:</strong>
      <%= event.event_date %>
    </p>

    <p>
      <strong>Polls open:</strong>
      <%= event.polls_open %>
    </p>

    <p>
      <strong>Polls close:</strong>
      <%= event.polls_close %>
    </p>

    <% if can? :edit, event %>
      <h3>Guest List</h3>
      <% event.guests.each do |guest| %>
        <% if event.has_chef?(guest) %>
          <i class="fa fa-coffee"></i>
        <% end %>
        <%= guest.name %>
      <% end %>
    <% end %>
  </div>
</div>
