<div class="row">
  <div class="col-sm-9">
    <% if event.polls_closed? %>
      <div class="text-center">
        <h1>Voting is now Closed</h1>
        <h4>Results will be announced soon.</h4>
      </div>
    <% elsif event.has_attendee?(current_user) %>
      <h6><%= event.title %></h6>
      <% if event.has_chef?(current_user) %>
        <% if current_user.dishes_for(event) %>
          <div class="well">
            <h4 style="margin-top: 0">Edit Your Entries:
              <small>
                <%= current_user.dishes_for(event).map {|entry| link_to entry.name, edit_event_entry_path(event, entry) }.join(', ').html_safe %>
              </small>
            </h4>
            <%= link_to 'Add another Dish', new_event_entry_path(event), class: 'btn btn-default btn-sm' %>
          </div>
        <% else %>
          <%= link_to 'Add your Dish', new_event_entry_path(event), class: 'btn btn-success' %>
        <% end %>
      <% end %>

      <% if event.polls_open? %>
        <div id="countdown_alert" class="alert alert-warning text-center" style="font-size:20px; display:none">
          Polls close in
          <span id="countdown_text" data-endtime="<%= event.polls_close.iso8601 %>"></span>
        </div>

        <%= render partial: 'events/show_entries_to_rank', locals: { event: event } %>
      <% else %>
        <h2 class="text-center">Polls are not open yet</h2>
      <% end %>

    <% else %>
      <!-- Logged in, but not yet Attending -->
      <%= render partial: 'events/start_attendance', locals: { event: event } %>
    <% end %>

    <% if can? :edit, event %>
      <div class="well" style="margin-top: 20px">
        <% if event.categories.present? %>
          <h4 style="margin-top: 0">Admin: Manage Categories</h4>
          <ul>
            <% event.categories.each do |cat| %>
              <li><%= link_to cat.name, edit_event_category_path(event, cat) %></li>
            <% end %>
          </ul>
        <% else %>
          <h2>No Categories Found!</h2>
        <% end %>
        <%= link_to 'Add a Category', new_event_category_path(event), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>

  <% if can? :edit, event %>
    <div class="col-sm-3">
      <div class="well">
        <%= link_to 'View Results', results_event_path(event) %> |
        <%= link_to 'Edit', edit_event_path(event) %>
      </div>
      <p class="help-block">
        User ID: <strong><%= current_user.try(:id) %></strong><br>
        Type: <strong><%= current_user.guest_type_for(event).try(:capitalize) %></strong>
      </p>
      <p>
        <strong>Event date:</strong>
        <%= event.event_date %>
      </p>

      <p>
        <strong>Polls open:</strong>
        <%= event.polls_open %>
      </p>

      <p>
        <strong>Polls close:</strong>
        <%= event.polls_close %>
      </p>
  
      <h3>Guest List</h3>
      <ul>
        <% event.attendances.each do |attendance| %>
          <li>
            <% if attendance.chef? %><i class="fa fa-coffee"></i><% end %>
            <%= link_to attendance.guest.name, event_attendance_path(event, attendance) %>
            <% if attendance.completed? %><i class="fa fa-check text-success"></i><% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
