<h2 class="text-center">Eat Now.<br>Rank as you go.</h2>
<p class="help-block text-center">
  Results are saved as you click them.<br>
  Refresh this page to see new entries.
</p>

<div class="row">
  <% event.categories.each do |cat| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title category-name"><%= cat.name.gsub('Best ', '') %></h4>
        </div>
        <div class="panel-body">
          <% cat.entries.each do |entry| %>
            <div class="entry-for-rating">
              <span class="entry-name"><%= entry.name %></span>
              by <%= entry.owner.name %><br>
              <% if entry.description.present? %>
                <p><%= entry.description %></p>
              <% end %>
              <% if entry.spice_level.present? %>
                Spice Level: <span class="badge"><%= entry.spice_level %></span><br>
              <% end %>
              <% if entry.ingredients.present? || entry.has_meat? %>
                Ingredients:
                <% if entry.has_meat? %>
                  <span class="text-danger">MEAT</span>.
                <% end %>
                <%= entry.ingredients %><br>
              <% end %>
              <div class="rateit-container">
                <div class="rateit bigstars" data-entryid="<%= entry.id %>" data-rateit-value="<%= current_user.rating_for(entry).try(:score) %>" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                <div class="rateit-status"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center">All Done?</h2>
<%= form_tag all_done_event_path(event) do %>
  <%= submit_tag "I'm Stuffed", class: "btn btn-block btn-lg btn-success" %>
<% end %>
