<h1>Results: <small><%= @event.title %></small></h1>

<div class="row">
  <% @event.categories.each do |cat| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><%= cat.name.gsub('Best ', '') %></h4>
        </div>
        <div class="panel-body">
          <% cat.entries.sort_by {|entry| -1 * entry.avg_score }.each do |entry| %>
            <div class="entry-results">
              <strong><%= entry.name %></strong>
              <span class="text-primary"><%= entry.avg_score %></span><br>
              by <%= entry.owner.name %><br>
              <ul>
                <% entry.ratings.each do |rating| %>
                  <li>
                    <%= rating.user.name %> (<%= rating.user.email %>):
                    <%= rating.score %>
                    <% if rating.user.attendance_for(@event).completed? %>
                      <i class="fa fa-check text-success"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
