<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Polls open:</strong>
  <%= @event.polls_open %>
</p>

<p>
  <strong>Polls close:</strong>
  <%= @event.polls_close %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.owner.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
