<h3><%= link_to @event.title, @event %></h3>

<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>User:</strong>
      <%= @attendance.guest.name %>
      (<%= @attendance.guest.email %>)
    </p>

    <p>
      <strong>Guest type:</strong>
      <%= @attendance.guest_type %>
    </p>

    <p>
      <strong>Created:</strong>
      <%= @attendance.created_at %>
    </p>

    <p>
      <strong>Updated:</strong>
      <%= @attendance.updated_at %>
    </p>

    <p>
      <strong>Approved:</strong>
      <%= @attendance.approved_at %>
    </p>

    <p>
      <strong>Completed:</strong>
      <%= @attendance.completed_at %>
    </p>
  </div>
  <div class="col-sm-6">
    <h4>Ratings</h4>
    <ul>
      <% @attendance.guest.ratings.each do |rating| %>
        <% next if rating.score.blank? %>
        <li>
          <strong><%= rating.score %></strong>
          <%= rating.entry.name %> (by <%= rating.entry.owner.name %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
